//- ============================================================================
//-  Copyright   : DataSoft Corporation 2011-2013
//-  Nova is free software: you can redistribute it and/or modify
//-   it under the terms of the GNU General Public License as published by
//-   the Free Software Foundation, either version 3 of the License, or
//-   (at your option) any later version.
//-
//-   Nova is distributed in the hope that it will be useful,
//-   but WITHOUT ANY WARRANTY; without even the implied warranty of
//-   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//-   GNU General Public License for more details.
//-
//-   You should have received a copy of the GNU General Public License
//-   along with Nova.  If not, see <http://www.gnu.org/licenses/>.
//- ============================================================================

script
  var ifaces = !{JSON.stringify(INTERFACES)};
  var used = '#{WEB_UI_IFACE}';
  
  function handlePulsarPaneSlide()
  {
    if($('#PULSAR_ENABLE').is(':checked'))
    {
      $('#pulsarPane').stop().slideDown(400);
    }
    else
    {
      $('#pulsarPane').stop().slideUp(400);
    }
  }
  
  function handleQuasarPaneME()
  {
    $('#qWarn').stop().slideDown(400);
  }
  
  function handleQuasarPaneML()
  {
    $('#qWarn').stop().slideUp(400);
  }
  
  function handleNovadPaneME()
  {
    $('#nWarn').stop().slideDown(400);
  }

  function handleNovadPaneML()
  {
    $('#nWarn').stop().slideUp(400);
  }
  
  function init()
  {
    handlePulsarPaneSlide();
    for(var i in ifaces)
    {
      var option = document.createElement('option');
      option.innerHTML = ifaces[i];
      if(ifaces[i] == used)
      {
        option.selected = true;
      }
      $('#WEB_UI_IFACE').append(option);
    }
  }
  
form(method="post", action="/configureNovaSave")
  input(type='hidden', name='ADVANCED', value='1')
  h2 General Configuration

  div#restartQuasar(onmouseover='handleQuasarPaneME()', onmouseout='handleQuasarPaneML()')
    p#qWarn(style='text-align: center; font-style: italic; color: #B00000; display: none;') Quasar must be restarted for any changes to take effect
    h2 Quasar
  
    label Quasar Port
    input(type="number", name="WEB_UI_PORT", value=WEB_UI_PORT)
    br
  
    label Management Interface
    select#WEB_UI_IFACE(name='WEB_UI_IFACE')
    br
  
    a(style='text-decoration: none; font-weight: bold;', href="/editTLSCerts") Click to upload new TLS certificates
    br
    br
  
    a(style='text-decoration: none; font-weight: bold;', href="/shutdown") Shut down Quasar
    br
    br
    
    label(style='font-size: 16px;') Use Pulsar?
    if(MASTER_UI_ENABLED != "0")
      input#PULSAR_ENABLE(type="checkbox", name="MASTER_UI_ENABLED", checked=true, onclick='handlePulsarPaneSlide()')
    else
      input#PULSAR_ENABLE(type="checkbox", name="MASTER_UI_ENABLED", onclick='handlePulsarPaneSlide()')
      br
      
    div#pulsarPane
      label Pulsar Server IP
      input.wide(name="MASTER_UI_IP",  value=MASTER_UI_IP)
      br
      
      label Pulsar Client ID
      input.wide(name="MASTER_UI_CLIENT_ID",  value=MASTER_UI_CLIENT_ID)
      br
      
      label Pulsar Reconnect Time
      input.wide(name="MASTER_UI_RECONNECT_TIME",  value=MASTER_UI_RECONNECT_TIME)
    br

  div#restartNovad(onmouseover='handleNovadPaneME()', onmouseout='handleNovadPaneML()')
    p#nWarn(style='text-align: center; font-style: italic; color: #B00000; display: none;') Novad must be restarted for any changes to take effect
    h2 File Paths
    label Path to state save file
    input.wide(type="text", name="CE_SAVE_FILE",  value=CE_SAVE_FILE)
    br
    
    label Classification Training Data
    input.wide(name="TRAINING_DATA_PATH",  value=TRAINING_DATA_PATH)
    br
    
    label Path to pcap file
    input.wide(type="text", name="PCAP_FILE",  value=PCAP_FILE)
    br
    
    label Path to Haystack Honeyd Config File
    input.wide(type="text", name="HS_HONEYD_CONFIG",  value=HS_HONEYD_CONFIG)
    br
  
    h2 Special Run Settings
    label Read pcap file?
    br
    if(READ_PCAP != "0")
      input(type="radio", name="READ_PCAP", value="1", checked)
      |Yes
      br
      input(type="radio", name="READ_PCAP", value="0")
      |No
      br
    else
      input(type="radio", name="READ_PCAP", value="1")
      |Yes
      br
      input(type="radio", name="READ_PCAP", value="0", checked)
      |No
      br
    br
  
    label Go to live capture after pcap?
    br
    if(GO_TO_LIVE != "0")
      input(type="radio", name="GO_TO_LIVE", value="1", checked)
      |Yes
      br
      input(type="radio", name="GO_TO_LIVE", value="0")
      |No
      br
    else
      input(type="radio", name="GO_TO_LIVE", value="1")
      |Yes
      br
      input(type="radio", name="GO_TO_LIVE", value="0", checked)
      |No
      br
    br
    
    label Packet Capture Buffer Size (in bytes)
    input.wide(type="number", step="1", min="1024", name="CAPTURE_BUFFER_SIZE",  value=CAPTURE_BUFFER_SIZE)
    br
    
    h2 Classification Settings
    a(style='text-decoration: none; font-weight: bold;', href='/editClassifiers') Edit Classifiers (advanced users only)
    br
    br
    
    label Neighbors
    input.wide(type="number", step="1", min="1", name="K",  value=K)
    br
    
    label Only classify packets going to honeypots?
    br
    if(ONLY_CLASSIFY_HONEYPOT_TRAFFIC != "0")
      input(type="radio", name="ONLY_CLASSIFY_HONEYPOT_TRAFFIC", value="1", checked)
      |Yes
      br
      input(type="radio", name="ONLY_CLASSIFY_HONEYPOT_TRAFFIC", value="0")
      |No
      br
    else
      input(type="radio", name="ONLY_CLASSIFY_HONEYPOT_TRAFFIC", value="1")
      |Yes
      br
      input(type="radio", name="ONLY_CLASSIFY_HONEYPOT_TRAFFIC", value="0", checked)
      |No
      br
    br
    
    label Classification Timeout
    input.wide(type="number", step="1", min="0", name="CLASSIFICATION_TIMEOUT",  value=CLASSIFICATION_TIMEOUT)
    br
  
    label EPS
    input.wide(name="EPS",  value=EPS)
    br
  
    label Classification Threshold
    input.wide(name="CLASSIFICATION_THRESHOLD",  value=CLASSIFICATION_THRESHOLD)
    br
  
    label Packets Needed Before Classification
    input.wide(type="number", name="MIN_PACKET_THRESHOLD", value=MIN_PACKET_THRESHOLD);
    br
    
    label State data save frequency
    input.wide(type="number", min="0", name="SAVE_FREQUENCY",  value=SAVE_FREQUENCY)
    br
  
    label State data chunk TTL
    input.wide(type="number", min="0", name="DATA_TTL",  value=DATA_TTL)
    br
  
    label Clear data after suspect logged as hostile?
    br
    if(CLEAR_AFTER_HOSTILE_EVENT != "0")
      input(type="radio", name="CLEAR_AFTER_HOSTILE_EVENT", value="1", checked)
      |Yes
      br
      input(type="radio", name="CLEAR_AFTER_HOSTILE_EVENT", value="0")
      |No
      br
    else
      input(type="radio", name="CLEAR_AFTER_HOSTILE_EVENT", value="1")
      |Yes
      br
      input(type="radio", name="CLEAR_AFTER_HOSTILE_EVENT", value="0", checked)
      |No
      br
    br
  
    label Custom pcap Filter String
    input.wide(type="text", name="CUSTOM_PCAP_FILTER", value=CUSTOM_PCAP_FILTER)
    br
    
    label Custom pcap Filter String Mode
    br
    if(CUSTOM_PCAP_MODE != "0")
      input(type="radio", name="CUSTOM_PCAP_MODE", value="1", checked)
      |Override
      br
      input(type="radio", name="CUSTOM_PCAP_MODE", value="0")
      |Append
      br
    else
      input(type="radio", name="CUSTOM_PCAP_MODE", value="1")
      |Override
      br
      input(type="radio", name="CUSTOM_PCAP_MODE", value="0", checked)
      |Append
      br
    br
  
    h2 Training Mode Settings
  
    label Thinning Distance
    input.wide(name="THINNING_DISTANCE",  value=THINNING_DISTANCE)
    br
  
    h2 Doppelganger
    label Doppelganger IP
    input.wide(name="DOPPELGANGER_IP",  value=DOPPELGANGER_IP)
    br
    br
   