extends layout

block headerAdditions
  link(rel="stylesheet", name="text/css", href="configstyle.css", media="screen")

block content
  form(method="post", action="/configureNovaSave")
    h2 General Configuration
    label Interface
    input(type="text", name="INTERFACE", value=INTERFACE)
    br
  
    h2 Silent Alarm
    label Port
    input(type="number", step="1", min="1", max="65536", name="SILENT_ALARM_PORT",  value=SILENT_ALARM_PORT)
    br
    
    label Max Connection Attempts
    input(type="number", step="1", min="0", name="SA_MAX_ATTEMPTS", value=SA_MAX_ATTEMPTS)
    br
    
    label Sleep Duration
    input(type="text", name="SA_SLEEP_DURATION",  value=SA_SLEEP_DURATION)
    br
  
    h2 File Paths
    label Path to state save file
    input(type="text", name="CE_SAVE_FILE",  value=CE_SAVE_FILE)
    br
    
    label Path to training file
    input(type="text", name="DATAFILE",  value=DATAFILE)
    br
     
    label Path to PCAP file
    input(type="text", name="PCAP_FILE",  value=PCAP_FILE)
    br
  
    label Path to user Honeyd config
    input(type="text", name="USER_HONEYD_CONFIG",  value=USER_HONEYD_CONFIG)
    br
    
    
    label Path to Haystack Honeyd Config File
    input(type="text", name="HS_HONEYD_CONFIG",  value=HS_HONEYD_CONFIG)
    br
  
    h2 TCP Timeout
    label TCP Timeout
    input(type="number", step="1", min="0", name="TCP_TIMEOUT",  value=TCP_TIMEOUT)
    br
  
    label TCP Timeout Check Frequency
    input(type="number", step="1", min="0", name="TCP_CHECK_FREQ",  value=TCP_CHECK_FREQ)
    br
  
    h2 Special Run Settings
    label Read PCAP file?
    br
    if READ_PCAP != "0"
      |Yes
      input(type="radio", name="READ_PCAP", value="1", checked)
      br
      |No
      input(type="radio", name="READ_PCAP", value="0")
      br
    else
      |Yes
      input(type="radio", name="READ_PCAP", value="1")
      br
      |No
      input(type="radio", name="READ_PCAP", value="0", checked)
      br
    br
  
    label Go to live capture after PCAP?
    br
    if GO_TO_LIVE != "0"
      |Yes
      input(type="radio", name="GO_TO_LIVE", value="1", checked)
      br
      |No
      input(type="radio", name="GO_TO_LIVE", value="0")
      br
    else
      |Yes
      input(type="radio", name="GO_TO_LIVE", value="1")
      br
      |No
      input(type="radio", name="GO_TO_LIVE", value="0", checked)
      br
    br
    
  
    h2 Classification Settings
    label Features Mask
    input(name="ENABLED_FEATURES",  value=ENABLED_FEATURES)
    br
    
    label Neighbors
    input(type="number", step="1", min="1", name="K",  value=K)
    br
    
    label Classification Timeout
    input(type="number", step="1", min="0", name="CLASSIFICATION_TIMEOUT",  value=CLASSIFICATION_TIMEOUT)
    br
  
    label EPS
    input(name="EPS",  value=EPS)
    br
  
    label Classification Threshold
    input(name="CLASSIFICATION_THRESHOLD",  value=CLASSIFICATION_THRESHOLD)
    br
  
    h2 Training Mode Settings
    label Training mode?
    br

    if IS_TRAINING != "0"
      |Yes
      input(type="radio", name="IS_TRAINING", value="1", checked)
      br
      |No
      input(type="radio", name="IS_TRAINING", value="0")
      br
    else
      |Yes
      input(type="radio", name="IS_TRAINING", value="1")
      br
      |No
      input(type="radio", name="IS_TRAINING", value="0", checked)
      br
    br
    
    label Training Capture folder
    input(name="TRAINING_CAP_FOLDER",  value=TRAINING_CAP_FOLDER)
    br
    
    label Thinning Distance
    input(name="THINNING_DISTANCE",  value=THINNING_DISTANCE)
    br
  
    h2 Doppelganger
    label Doppelganger IP
    input(name="DOPPELGANGER_IP",  value=DOPPELGANGER_IP)
    br
  
    label Doppelganger Interface
    input(name="DOPPELGANGER_INTERFACE",  value=DOPPELGANGER_INTERFACE)
    br
  
    label Doppelganger Enabled?
    br
    if DM_ENABLED != "0"
      |Yes
      input(type="radio", name="DM_ENABLED", value="1", checked)
      br
      |No
      input(type="radio", name="DM_ENABLED", value="0")
      br
    else
      |Yes
      input(type="radio", name="DM_ENABLED", value="1")
      br
      |No
      input(type="radio", name="DM_ENABLED", value="0", checked)
      br
    br

    label State save frequency
    input(type="number", min="0", name="SAVE_FREQUENCY",  value=SAVE_FREQUENCY)
    br
  
    label Data TTL
    input(type="number", min="0", name="DATA_TTL",  value=DATA_TTL)
    br
  
    h2 Email Notifications
    label SMTP Address
    input(name="SMTP_ADDR",  value=SMTP_ADDR)
    br
  
    label SMTP Port
    input(type="number", min="0", max="65536", name="SMTP_PORT",  value=SMTP_PORT)
    br
  
    label SMTP Domain
    input(name="SMTP_DOMAIN",  value=SMTP_DOMAIN)
    br
  
    label Email Recipients
    input(name="RECIPIENTS",  value=RECIPIENTS)
    br
  
    h2 Logger Settings
    label Service Preferences
    input(name="SERVICE_PREFERENCES",  value=SERVICE_PREFERENCES)
    br
  
    label Haystack Storage
    input(name="HAYSTACK_STORAGE",  value=HAYSTACK_STORAGE)
    br
  
    br
    input(type="Submit",value="Save Settings")
  
