extends layout

block topPannelAdditions
  div(style="float: left") Novad Status:&nbsp 
  div#nova_status unknown
  div(style="float: left") Haystack Status:&nbsp  
  div#haystack_status unknown
 

block content
  h1 Nova Control Panel
  button(type="button", style="width:160px", onClick='now.StartNovad()') Start Nova
  button(type="button", style="width:160px", onClick='now.StopNovad()') Stop Nova
  
  br
  br
  
  button(type="button", style="width:160px", onClick='now.StartHaystack()') Start Haystack
  button(type="button", style="width:160px", onClick='now.StopHaystack()') Stop Haystack
  
  br
  br
  
  button(type="button", style="width:160px", onClick='now.ClearAllSuspects(); clearDataGrid();') Clear All Suspects

  br

  div#nova_suspects_header
    h1 Suspect List
    button#liveUpdateButton(data-dojo-type="dijit.form.Button",type="button") Pause Updates/Auto Scrolling
      script(type="dojo/method", data-dojo-event="onClick", data-dojo-args="evt")
        | liveUpdate = !liveUpdate;
        | if (!liveUpdate) {dojo.byId("liveUpdateButton").innerHTML = "Unpause updates/Auto Scrolling";}
        | else {dojo.byId("liveUpdateButton").innerHTML = "Pause updates/Auto Scrolling";}
    br
    br
    
    label Filter by IP (supports * and ?)
    input#ipFilter(type="text", name="ipFilter", value="*", data-dojo-type="dijit.form.TextBox", intermediateChanges=true, onchange="ipFilterChange()")
    
    h2 Advanced Filtering
    br
    -var count = 0;
    each feature in featureNames
      if enabledFeatures.charAt(count) == '1'
        label #{feature}
        br
        input(type="text", id="advancedFilter#{count}")
        br
      - count++;
    br
    button(onClick='applyAdvancedFilter()') Apply Advanced Filter

  div#nova_suspects
  div(data-dojo-type="dijit.layout.ContentPane", title="Suspects", id="nova_suspects_error_view", style="display: none")
   h4 Novad is not currently connected or running. Try starting it.
   
block headerAdditions
  script 
    var suspectStore;
    var suspectGrid;
    var liveUpdate = true;

    var advancedFilters = new Object();
    var advancedFilterEnabled = false;

    require(["dijit/form/TextBox"]);

    function ipFilterChange() {
      var filter = dijit.byId("ipFilter").value;
      dijit.byId("nova_suspects").filter({GetInAddr: filter});
    }
    

    now.updateNovadStatus = function (isNovadUp){
      dojo.byId("nova_status").innerHTML = isNovadUp ? "Up" : "Down";
      dojo.byId("nova_suspects_header").style.display = isNovadUp ? "block" : "none";
      dojo.byId("nova_suspects").style.display = isNovadUp ? "block" : "none";
      dojo.byId("nova_suspects_error_view").style.display = isNovadUp ? "none" : "block";
    };

    now.updateHaystackStatus = function (isHaystackUp){
      dojo.byId("haystack_status").innerHTML = isHaystackUp ? "Up" : "Down";
    };

    now.AllSuspectsCleared = function() {
      clearDataGrid();
    }
      
    function pad(num) {
        return ("0" + num.toString()).slice(-2);
    }

    now.OnNewSuspect = function(suspect){
       var type = "#{type}";
      
       if (type == "hostile" && !suspect.GetIsHostile) {return;}
       if (type == "unclassified" && (suspect.GetClassification > 0)) {return;}
       if (type == "all" && suspect.GetClassification < 0) {return;}

       if(!liveUpdate) {return;}
      
      var d = new Date(suspect.GetLastPacketTime*1000);
      var dString = pad(d.getMonth()) + "/" + pad(d.getDate()) + " " + pad(d.getHours()) + ":" + pad(d.getMinutes()) + ":" + pad(d.getSeconds());
      suspect.LastPacketString = dString;
      
      // This is probably a really bad way to do this...
      for (var i in suspect.GetFeatures) {  
        suspect[i] = suspect.GetFeatures[i];
      }
       
       if (advancedFilterEnabled) {
         for (var i in advancedFilters) {
             var expr = String(suspect[i]) + ' ' + String(advancedFilters[i]);
             if (!eval(expr)) {
                return;
             }
         }
       }

     
     if( suspectStore.get(suspect.GetInAddr) ) {       
        suspectStore.put(suspect,{id: suspect.GetInAddr, overwrite: true});
      } else {
        suspectStore.add(suspect,{id: suspect.GetInAddr}); 
      }
    };
       
    var clearDataGrid = function() {
      suspectStore = new dojo.store.Memory();
      suspectStore = dojo.store.Observable(suspectStore);
      suspectStore.idProperty="GetInAddr";
      suspectGrid.setStore(dojo.data.ObjectStore({objectStore: suspectStore, clearOnClose: true}));
    }


    var applyAdvancedFilter = function() {
        for (var i = 0; i < 13; i++) {
            var id = "advancedFilter" + String(i);
            var filter = document.getElementById(id).value;

            if (filter != "") {
                advancedFilters[i] = filter; 
            }
        }
        advancedFilterEnabled = true;
        clearDataGrid();
        now.sendAllSuspects(now.OnNewSuspect);
    };

    require(["dojo/ready","dojo/store/Memory", "dojo/store/Observable", "dojo/data/ObjectStore"], function(ready){ready(function(){ 
    dojo.addOnLoad(function(){
      suspectStore = new dojo.store.Memory();
      suspectStore = dojo.store.Observable(suspectStore);
      suspectStore.idProperty="GetInAddr";
      // Formatter for the classification
      function classificationFormatter(d) {
        
        var bar = new dijit.ProgressBar({progress:d, maximum:1}, "bar");
        bar._destroyOnRemove = true;
        return bar;
      }

      // Formatter for the floating point features
      function featureFormatter(d) {
        var num = new Number(d);
        return (num.toFixed(2));
      }
    
    require(["dojox/grid/DataGrid","dojo/data/ObjectStore","dojo/domReady!"],
    function(DataGrid,ObjectStore){

    var enabledFeatures = String(#{enabledFeatures});
    var gridStructure = new Array();
    gridStructure.push({name:"Address", field:"GetInAddr", width:"125px"});
    gridStructure.push({name:"Classification", field:"GetClassification", width:"150px", formatter: classificationFormatter});
    gridStructure.push({name:"Last Seen", field:"LastPacketString", width: "100px"});
    gridStructure.push({name:"Hostile", field:"GetIsHostile"});
   
    var featureNames = String("#{featureNames}").split(",");
    for (var i = 0; i < featureNames.length; i++) {
        if (enabledFeatures.charAt(i) == "1") gridStructure.push({name:featureNames[i], field:String(i), formatter: featureFormatter});
    }
    
    suspectGrid = new DataGrid(
    {
      store: dataStore = dojo.data.ObjectStore({objectStore: suspectStore, clearOnClose: true}),
      sortInfo: -2,
      structure: gridStructure,
      rowsPerPage: 20
    }, 
    "nova_suspects"
    );
    suspectGrid.startup();
    now.sendAllSuspects(now.OnNewSuspect);
    });
    });

    }); });

